.textDark {
  color: grey;
  font-size: 14px !important;
}
.change {
  width: 100%;
  height: 10px;
}
.styleB {
  border-radius: 40px !important;
}
.ChangeFont {
  font-size: 15px !important;
  color: #353945;
}
.card {
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: none;
}
.fontInc {
  font-weight: bold !important;
}
.change1 {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}
@media (max-width: 500px) and (min-width: 300px) {
  .change1 {
    width: 70px !important;
  }
}
