.impHover:hover {
  background-color: #f4f5f6;
  border-radius: 20px;
}
.changeTop {
  margin-top: 80px;
}
.btnStyle2 {
  border-radius: 50px !important;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 5px;
}
.stylePaper {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
  border-radius: 15px !important;
  flex-direction: column;
  padding: 20px 40px !important;
  height: 415px;
  margin-bottom: 50px;
}
.textStyleProfile{
  text-decoration: none;
  color: #000;
  margin-right: 20px !important;
  font-size: 15px;
  font-weight: bolder !important;
}
.imgCenter {
  height: 30px;
}
.imgBox {
  display: flex;
  justify-content: center;
}
.navPill {
  margin-top: 30px;
  width: 100% !important;
  display: unset !important;
}
.alignCard {
  display: flex;
  justify-content: center;
}
