/* NEW DISCOVER */

.ItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.discoverDropdown {
  width: 250px;
}
.discoverDropdownBelow {
  width: 250px;
}
.displayInTab {
  display: none;
}
.filterButton {
  border-radius: 24px !important;
}
.filterIcon {
  margin-left: 5px !important;
}
@media (max-width: 1024px) {
  .discoverDropdown {
    width: 225px;
  }
}
@media (max-width: 768px) {
  .discoverDropdown {
    width: 280px;
  }
  .discoverDropdownBelow {
    width: 330px;
  }
  .displayInTab {
    display: block;
  }
  .hideInTab {
    display: none;
  }
  .ItemWrapper {
    justify-content: space-around;
  }
  .filterButton {
    height: 42px;
  }
}
