.navBox2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.innerNavBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mybutton1 {
  border-radius: 20px !important;
  background-color: #3772ff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: none !important;
  cursor: pointer !important;
}
.filterButton {
  border-radius: 20px !important;
  background-color: #3772ff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: none !important;
  cursor: pointer !important;
  width: fit-content;
}
.navpillStylingDiscover {
  margin-top: 0px;
  width: 70%;
  display: flex;
}
.bigiImg1 {
  margin-left: 10px !important;
}

@media (max-width: 1024px) {
  .tabsStyling {
    margin-left: 0px;
    width: 560px;
  }
  .innerNavBox {
    flex-direction: column;
  }
  .overflowInSmall {
    width: 100% !important;
    overflow-x: scroll;
  }
}
@media (max-width: 768px) {
  .tabsStyling {
    margin-left: 0px;
    width: 560px;
    margin: 10px 0px;
  }
  .widthTab {
    width: 850px !important;
  }
  .filterButton {
    width: 100%;
    margin: 10px 20px;
    padding: 20px;
  }
  .navBox {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .dropdownWrapper {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .tabsStyling {
    display: none;
  }
  .navpillStylingDiscover {
    display: none;
  }
  .navBox {
    flex-direction: column;
  }
  .overflowInSmall {
    width: 100% !important;
    overflow-x: scroll;
  }
}
