.heading1 {
  font-size: 12px !important;
  color: #777e90;
  font-weight: bold !important;
}
/* .hiddenBox {
  display: none;
  align-items: center;
} */
.heading2 {
  font-size: 48px !important;
  color: #000000;
  font-weight: bold !important;
}
.heading3 {
  font-size: 16px !important;
  color: #353945;
  font-weight: bold !important;
  margin: 15px !important;
}

.accordionText {
  color: #777e90;
  font-size: 16px !important;
  font-weight: 600 !important;
}
.blueText {
  color: #3772ff;
}
.hoverText1:hover {
  color: #3772ff;
}
.hoverText {
  box-shadow: none !important;
  font-weight: 600 !important;
}
.hoverText1 {
  box-shadow: none !important;
  border-top: 1px solid #dee2e6;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: 100px !important;
}
.css-10d9dml-MuiTabs-indicator {
  display: none;
}

.css-n1j79u-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #23262f !important;
}
.css-n1j79u-MuiButtonBase-root-MuiTab-root:hover {
  color: #23262f !important;
}

.css-n1j79u-MuiButtonBase-root-MuiTab-root:hover .blackimg {
  opacity: 1 !important;
}
.blackimg {
  opacity: 0.4 !important;
}
.learnmore {
  border-radius: 25px !important;
  font-weight: bold;
  margin-top: 20px;
}
.shadow {
  box-shadow: none !important;
}
.css-n1j79u-MuiButtonBase-root-MuiTab-root {
  font-size: 14px !important;

  font-weight: bold !important;
}
@media (max-width: 468px) {
  /* .hiddenBox {
    display: block;
  }
  .visibleTab {
    display: none !important;
  } */
}
