.usercardd {
  text-align: center;
  margin: 50px 0px;
}
.userrcard2 {
  width: 60px;
}
.WhiteCard:hover .userrcard2 {
  width: 80px;
}
.plusimg {
  margin-left: 10px;
}
.plusimg:hover {
  cursor: pointer;
  filter: invert(52%) sepia(51%) saturate(6758%) hue-rotate(211deg)
    brightness(98%) contrast(109%);
}
.WhiteCard:hover {
  background: #fcfcfd 0% 0% no-repeat padding-box;
  box-shadow: 0px 64px 64px #1f2f461f;
  border-radius: 16px;
}
