.btn1 {
  width: 100%;
  border-radius: 20px;
}
.btntext {
  margin-left: 12px !important;
  font-weight: bold !important;
}
.pswimg {
  margin-left: 5px;
}
.text1 {
  margin-right: 45px !important;
}
.wrapper {
  cursor: pointer;
}

.btntext3 {
  margin-right: 70px !important;
  font-weight: bold !important;
}
.btntext4 {
  font-weight: bold !important;
  margin-top: 7px !important;

  margin-left: 10px !important;
}
.marginRight {
  text-align: left;
}
.menu_img {
  width: 20px !important;
}
.blue_img:hover {
  cursor: pointer;
  filter: invert(52%) sepia(51%) saturate(6758%) hue-rotate(211deg)
    brightness(98%) contrast(109%);
}
.wrapper:hover .blue_img {
  filter: invert(52%) sepia(51%) saturate(6758%) hue-rotate(211deg)
    brightness(98%) contrast(109%);
}
.wrapper:hover .btntext {
  color: #3772ff !important;
}
