.select:active {
  box-shadow: none !important;
  outline: none !important;
}
.formcontrol {
  background-color: transparent;
  outline: none !important;
  border: none !important;
  border-style: none;
  box-shadow: none !important;
}
.circularDropdown {
  padding: 40px 85px;
  display: flex !important;
  justify-content: space-between;
}
