.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  
    font-weight: bolder !important;
    font-size: 20px !important;
    border-radius: 10px !important;
    width:100%;
}
.newStyle{
    font-weight: bolder !important ;
    padding:15px 0px;  
    color: #B1B5C3;
}