.rootStyle{
    padding: 20px;
   border-radius: 16px;
   /* max-width: 870px; */
   box-shadow: 0 8px 40px -12px rgba(0,0,0,0.05);
   }
   .followersCard_media{
    display: flex;
}
.followersCardTopBlock{
    display: flex;
     padding: 7px;
    border-bottom: 1.5px solid rgba(236, 232, 232, 0.5);
}
.coverImgStyle{
    margin-left: 60px;
}
.profileStyle{
    margin:10px;
    text-align:center;
   }
.imgStyle{
       width:112px ;
       height:88px ;
       margin:5px ;
  }

@media (max-width:1400px)and (min-width:1030px) {
    /* .rootStyle{
        width:650px;
    }  */
    .coverImgStyle{
        margin-left: 20px;
    }
}
@media (max-width: 1024px){
    .coverImgStyle{
        margin-left: 0px;
    }
}
   @media (max-width: 1000px){
    .followersCardTopBlock{
        display: block;
    }
    .rootStyle{
       display: block;
       width: 70%;
       }
       .followersCard_media{
           display: flex;
       }
       .coverImgStyle{
        margin-left: 10px;
    }
   }
   
    @media (max-width: 460px){
    .rootStyle{
        width: 82%;
        margin: auto;
       }
    }
    @media (max-width: 360px){
        .rootStyle{
            width: 100%;
            margin: auto;
           }
        }