.rootStyle{
    padding: 20px;
   border-radius: 16px;
   box-shadow: 0 8px 40px -12px rgba(0,0,0,0.05);
   }
.followersCard_media{
    display: flex;
}
.followersCardTopBlock{
    display: flex;
     padding: 7px;
    border-bottom: 1.5px solid rgba(236, 232, 232, 0.5);
}
.coverImgStyle{
    display: flex;
    flex-direction: row !important;
    margin-left: 60px;
    
    }
.profileStyle{
    margin:10px;
    text-align:center;
    width: 150px;
   }
.imgStyle{
       width:112px ;
       height:88px ;
       margin:5px ;
  }
  @media (max-width:1024px) {
    .coverImgStyle{
        width: 60%;
    overflow-x: scroll;
    }
  }
@media (max-width:768px) {
    .coverImgStyle{
        margin-left: 20px;
    }
    .imgStyle{
        display: none;
    }
    .profileStyle{
        display: flex;
    }
    .rootStyle{
        width: auto;
    }
    .profileStyle{
       width: 60%;
    }
    .buttonin768{
        width: 300px;
        display: flex;
        justify-content: end;
    }
    .nameStyling{
        width: 150px;
        align-items: center;
    }
}

   