.fontE3 {
  font-size: 16px !important;
  color: #777e90;
}
.fontE2 {
  font-size: 40px !important;
  color: #000;
  font-weight: bolder !important;
}
.fontE1 {
  font-size: 16px !important;
  color: #777e90;
  font-weight: Bolder !important;
}
.mR {
  margin-right: 10px;
}
.endWidth {
  width: 100%;
}
.alignBox {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  padding: 110px 0px !important;
}
@media (max-width: 768px) {
  .alignBox {
    padding: 40px 0px !important;
  }
}
