.fontE3{
    font-size: 16px !important;
    color:#777E90;
  
}
.fontE2{
    font-size: 40px !important;
    color:#000;
    font-weight: bolder !important;
  
}
.fontE1{
    font-size: 16px !important;
    color:#777E90;
    font-weight: Bolder !important;
}
.mR{
    margin-right: 10px;
}