.buttonStlye {
    margin: 5px 10px;
    padding: 4px 12px;
  
  }
.button_div{
  padding-right: 80px;
  margin-bottom: 20px;
}
.userFollower{
    display: flex;

}
.usercardGrid_Styling{
  display: flex;
  justify-content: end;
  width:30%;
  margin-top: -60px;
  padding-right: 30px;
}
.navpill_Styling{
  margin-top: 30px;
width:70%;
display: flex;
}
.tabs_Styling{
  margin-left: 35px;
}

.tabTopGrid_Styling .css-16s6g47-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fff !important;
  background-color: #353945 !important;
  border-radius: 20px;
    height: 40px !important;
}

.tabTopGrid_Styling .css-1aquho2-MuiTabs-indicator{
  background: none !important;
}
.tabTopGrid_Styling .css-16s6g47-MuiButtonBase-root-MuiTab-root{
  min-height: 40px !important;
}

@media (max-width:1020px){
  .button_div{
    margin-bottom: 80px;
  }
  .usercardGrid_Styling{
    display: flex;
    justify-content: center;
    width:100%;
  }
  .userFollower{
    display: block;
}
.navpill_Styling{
  width:100%;
  }
}
@media (max-width:700px){
  .tabs_Styling{
    width:50%;
  }
}