.buttonStlye {
  margin: 5px 10px;
  padding: 4px 12px;
}
.button_div {
  padding-right: 80px;
  margin-bottom: 20px;
}
.userFollower {
  display: flex;
}
.linkUnderline {
  text-decoration: none;
}
.usercardGrid_Styling {
  display: flex;
  justify-content: end;
  width: 30%;
  margin-top: -60px;
  padding-right: 30px;
}
.navpill_Styling {
  margin-top: 30px;
  width: 70%;
  display: flex;
}
.tabs_Styling {
  margin-left: 35px;
}

.tabTopGrid_Styling .css-16s6g47-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fff !important;
  background-color: #353945 !important;
  border-radius: 20px;
  height: 40px !important;
}

.tabTopGrid_Styling .css-1aquho2-MuiTabs-indicator {
  background: none !important;
}
.tabTopGrid_Styling .css-16s6g47-MuiButtonBase-root-MuiTab-root {
  min-height: 40px !important;
}

@media (max-width: 1020px) {
  .button_div {
    margin-bottom: 80px;
  }
  .usercardGrid_Styling {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .userFollower {
    display: block;
  }
  .navpill_Styling {
    width: 60%;
    display: flex;
    margin-left: 30px;
  }
  .tabPanelSection-Style{
    margin-left: 60px;
  }
  .tabPanelSection2-Style{
    width: 80%;
  }
}
@media (max-width: 700px) {
  .tabs_Styling {
    width: 100%;
  }
  .tabPanelSection-Style{
    margin-left: 10px;
  }
  .tabTopGrid_Styling{
    width:100%;
  }
  .navpill_Styling {
    width: 70%;
    display: flex;
    margin-left: 20px;
  }
}

@media (max-width: 400px) {
  .tabs_Styling {
    width: 100%;
  }
  .tabPanelSection-Style{
    margin-left: 0px;
  }
  .tabPanelSection2-Style{
   margin-left: 20px;
  }
  .tabTopGrid_Styling{
    width:115%;
  }
  .navpill_Styling {
    width: 65%;
    margin-left: 20px;
  }
  
}