.changeM {
  margin: 10px 0px !important;
}
.changeSize{
  width:100% !important;
}
.moveRight {
  margin-right: 15px !important;
}
.borderC {
  border-radius: 33px;
  padding: 12px 17px !important;
}
.widthmax {
  width: 100% !important;
  height: 123px !important;
  padding: 10px 0px;
}
.StyleDis {
  border-radius: 27px;
  padding: 16px 42px !important;
  margin-top: 20px;
}
.priceBor {
  border: 1px solid green;
  color: green;
  padding: 1px 5px;
  font-weight: bold !important;
  border-radius: 5px;
}
.fontC4 {
  font-size: 14pxx !important;
  font-weight: bold !important;
}
.fontC5 {
  color: #777e90;
  
}
.firstSection{
  text-decoration: none !important;
  color:black !important;
}
/* .css-z1hl9e-MuiGrid-root  {
  width: calc(100% + 0px) !important;
 margin:0px !important;
} */
.lineUnderlineS2{
  text-decoration: none !important;
  color:black !important;
}
.conatiner {
  width: max-content;
  position: relative;
  height: fit-content;
}
.middle {
  display: none;
  position: absolute;
  margin: -193px -26px -27px 124px;
}
.zoomDiv {
  overflow: hidden;
}
.zoomDiv:hover .image {
  transform: scale(1.3);
  opacity: 0.9;
}
.image {
  transition: transform 0.7s;
}
.text {
  width: 100px;
}

.container:hover .middle {
  display: inline;
  opacity: 1;
}

@media (max-width: 1024px) {
  .priceBor {
    padding: 0px 0px;
    font-size: 14px !important;
  }
  .image {
    width:100% !important;
  }
}
@media (max-width: 768px) {
  .middle {
    margin: -193px -26px -27px 124px;
  }
  .changeWidth1 {
    width: 100%;
  }
  .container {
    width: 96% !important;
  }
}
