.font1 {
  font-size: 12px !important;
  color: #777e90 !important;
}
.imFluid {
  width: 40px;
  margin-bottom: 5px;
}
.bgColor {
  background-color: #f4f5f6;
  border-radius: 16px;
  padding: 20px;
  height: 130px;
}
.paddingChange {
  padding: 20px 0px;
}
.changePadding {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}
.mRight {
  margin-left: 5px !important;
  font-weight: bold !important;
  font-size: 14px !important;
  color: #777e90;
}
.hoverOnclick:hover {
  color: blue !important;
  cursor: pointer;
}
.font2 {
  font-weight: bolder;
  font-size: 20px;
}

.btnStyle1 {
  border-radius: 50px !important;
  padding: 15px 20px !important ;
}
.marginChange {
  margin-top: 20px !important;
}
.mRight:hover {
  color: blue !important;
  cursor: pointer;
}
.marginR {
  margin-right: 10px;
}
.gIfIEN {
  margin: 20px 0px;
  max-width: 100% !important;
  height: 100px !important;
  border: 1px solid #f4f5f6 !important;
  padding: 8px 16px 8px 8px;
  border-radius: 15px !important;
  background-color: #f4f5f6 !important;
}
.ebdQkY .file-types {
  overflow: unset !important;
  white-space: unset !important;
  text-overflow: unset !important;
  max-width: unset !important;
}
@media (max-width:768px) {
  .adjustingPadding{
    margin:0px 30px !important;
  }
  .changePadding {
    padding: 0px 0px !important;
  }
}