.headContainer{
    padding: 20px;
    /* display: flex; */

}
.profileLink{
    text-decoration: none;
    color: #777E90;
} 
.profileLink:hover{
    color:#3772FF;
}
.idtextfield{
    position:relative;
    height: 55px;
    padding: 0 14px;
    width:95%;
    border-radius: 14px;
    border: 1.5px solid #c7c9ce;

}
.twitterInput{
    height: 40px;
    border: none;
    font-size: 17px;
    letter-spacing: 0.8px;
    width: 60%;
}
.verifyButton{
    /* font-size: 18px;
    color:#23262F; */
    width: 37%;
}
.EditPageHeading{
    text-align: left;
    letter-spacing: -0.96px;
    color: #23262F;
    opacity: 1;
    font-size: 40px;
    margin-bottom: 20px;
}
.EditPagepara{
    color: #5a5d66;
    font-size: 14px;
}
.headDiv{
    display: flex;
    justify-content: center;
    width:60%;
    margin: auto;
}
.profilePicstyle{
    width:140px !important;
    height:140px !important;
    margin-right: 20px;
    
}
.ProfileGrid{
    display: flex;
    width: 50%;
    padding-right: 40px;
}
.AccountInfoStyle{
    width: 50%;
    padding-left: 20px;
    display: flex;
}
.profilespan{
    display: flex;
    justify-content:end;
    margin-top: -20px;
    margin-right: 60px;
}
.labelStyling{
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #B1B5C3;
}
.EditPageContent{
    display: flex;
    
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 15px !important ;
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 15px !important;

}
@media (max-width:1160px){
    .EditPageContent{
        display: block;
        
    }
    .ProfileGrid{
        width:100%

    }
    .AccountInfoStyle{
        width: 100%;
    } 
}