.dflex {
  display: flex;
  flex-direction: row;
}
.greenText {
  border: 1px solid #45b36b;
  border-radius: 5px;
  padding: 3px;
  color: #45b36b;
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: unset;
}
.artText {
  font-size: 16px;
  font-weight: bold !important;
  color: #23262f !important;
}
.bid {
  font-size: 12px;
  color: #777e90;
}
.eth {
  color: #353945 !important;
}
.newBid {
  font-size: 12px;
  color: #777e90;
}
.inStock {
  color: #23262f;
  font-size: 14px;
}
.css-bix0b1-MuiCardContent-root:last-child {
  padding-bottom: 4px;
}
.imageDiv {
  overflow: hidden;
}
.image {
  transition: transform 3s;
}
.imageDiv:hover image {
  transform: (1.3);
}

.craoiselDiv {
  margin-top: 80px;
}

/* .cNNJIt:disabled {
  position: absolute;
  top: 0;
  right: 12%;
}

.jRFJkP:disabled {
  position: absolute;
  top: 0;
  right: 8%;
} */

.jRFJkP:hover:enabled,
.jRFJkP:focus:enabled {
  color: #fff;
  background-color: #dbd8d8 !important;
  box-shadow: 0 0 2px 0 #333;
}
.jRFJkP:hover {
  background-color: #dbd8d8;
}
.withoutmargin {
  position: relative !important;
  overflow: hidden !important;
}
.withMargin {
  position: relative !important;
  overflow: hidden !important;
  margin: 20px 7px;
}
.cardmedia {
  overflow: hidden !important;
}
.mybutton {
  display: none !important;
  position: absolute !important;
  top: 54%;
  left: 27%;
  text-transform: none !important;
  padding-top: 7px !important;
  border-radius: 20px !important;
  background-color: #3772ff !important;
  cursor: pointer;
}
.mybutton:hover {
  background-color: #044eff !important;
}
.purchase {
  color: #fff;
  padding: 5px;
  background-color: #45b26b;
  border-radius: 5px;
  font-size: 12px !important;
  font-weight: normal;

  cursor: default !important;
}
.heartPurchase {
  position: absolute;
  top: 0%;
  width: 242px;
  cursor: pointer;
  padding-left: 0px;
  display: none !important;
}
.cardmedia1:hover .mybutton {
  display: inline-flex !important;
}
.cardmedia1:hover .heartPurchase {
  display: flex !important;
}
.cardmedia1:hover .cardmedia {
  transform: scale(1.1);
  overflow: hidden;
  transition: 0.7s !important;
  opacity: 0.9;
}

.heart {
  background-color: #fff;
  border-radius: 40px;
  padding: 5px;
  cursor: pointer;
  width: 25px !important;
  height: 25px !important;
}

.carouselWrapper .rec.rec-arrow {
  width: 50px !important;
  height: 50px !important;
}
.icons {
  width: 25px !important;
  position: static;
  margin-right: -10px;
  height: 22px !important;
}
.bigiImg {
  padding-left: 10px !important;
  padding-bottom: 5px !important;
}
.boxwrap {
  overflow: hidden !important;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .cardmedia1 {
    margin: 10px !important;
  }
}
/* .temp {
  display: flex;
  flex-direction: row;
  margin: 20px 40px;
}
.temp .cardmedia1 {
  margin: 0px 20px;
} */
